@font-face {
    font-family: poppins;
    src: url("./fonts/Poppins-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: poppinsBold;
    src: url("./fonts/Poppins-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: poppinsSBold;
    src: url("./fonts/Poppins-SemiBold.ttf");
    font-weight: 600;
    /* Semi-bold */
    font-style: normal;
}

@font-face {
    font-family: preahivear;
    src: url('./fonts/Preahvihear-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: geits;
    src: url("./fonts/GeistVF.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: geitsMono;
    src: url("./fonts/GeistMonoVF.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: junePro;
    src: url('./fonts/june-pro-bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: rockford;
    src: url("./fonts/RockfordSans-Light.otf");
}

:root {
    --root: hsl(219, 32%, 21%);
    --bground: hsl(0, 0%, 100%);
    --primar: hsl(198, 77%, 60%);
    --secondar: hsl(204, 70%, 91%);
    --accen: hsl(207, 100%, 98%);
    --green: hsl(145, 100%, 50%);
    --greenb: hsl(145, 100%, 80%);
    --yellow: hsl(54, 100%, 60%);
    --yellowb: hsl(54, 100%, 80%);
}

.rockford{
    font-family: rockford, system-ui;
}

.junePro{
    font-family: junePro, system-ui;
}

.geits {
    font-family: geits, system-ui;
}

.geits-mono{
    font-family: geitsMono, system-ui;
}

.poppins {
    font-family: poppins, system-ui;
    /* Added generic family */
}

.poppins-bold {
    font-family: poppinsBold, system-ui;
}

.poppins-semi {
    font-family: poppinsSBold, system-ui;
}

.preahivear {
    font-family: preahivear, system-ui;
}
