@font-face {
    font-family: poppins;
    src: url("./fonts/Poppins-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: poppinsBold;
    src: url("./fonts/Poppins-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: poppinsSBold;
    src: url("./fonts/Poppins-SemiBold.ttf");
    font-weight: 600;
    /* Semi-bold */
    font-style: normal;
}

@font-face {
    font-family: preahivear;
    src: url('./fonts/Preahvihear-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: geits;
    src: url("./fonts/GeistVF.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: geitsMono;
    src: url("./fonts/GeistMonoVF.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: junePro;
    src: url('./fonts/june-pro-bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: rockford;
    src: url("./fonts/RockfordSans-Light.otf");
}

:root {
    --text: hsl(219, 32%, 21%);
    --background: hsl(0, 0%, 100%);
    --primary: hsl(198, 77%, 60%);
    --secondary: hsl(204, 70%, 91%);
    --accent: hsl(207, 100%, 98%);
    --green: hsl(145, 100%, 50%);
    --greenb: hsl(145, 100%, 80%);
    --yellow: hsl(54, 100%, 60%);
    --yellowb: hsl(54, 100%, 80%);
}

.rockford{
    font-family: rockford, system-ui;
}

.junePro{
    font-family: junePro, system-ui;
}

.geits {
    font-family: geits, system-ui;
}

.geits-mono{
    font-family: geitsMono, system-ui;
}

.poppins {
    font-family: poppins, system-ui;
    /* Added generic family */
}

.poppins-bold {
    font-family: poppinsBold, system-ui;
}

.poppins-semi {
    font-family: poppinsSBold, system-ui;
}

.preahivear {
    font-family: preahivear, system-ui;
}

.bg-primary {
    background-color: var(--primary);
}

.primary {
    color: var(--primary);
}

.text-primary {
    color: var(--primary);
}

.text {
    color: var(--text);
}

.text-second {
    color: var(--secondary);
}

.text-accent {
    color: var(--accent);
}

.bg-accent {
    background-color: var(--accent);
}

.bg-second {
    background-color: var(--secondary);
}

.bg {
    background-color: var(--background);
}

.secondary {
    color: var(--secondary)
}

.accent {
    color: var(--accent);
}

.bg-root {
    background-color: var(--text)
}

.yellow{
    color: var(--yellow);
    background-color: var(--yellow);
}
.yellowb{
    color: var(--yellowb);
    background-color: var(--yellowb);
}
.green{
    color: var(--green);
    /* background-color: var(--green); */
}
.bg-green{
    background-color: var(--green);
}
.greenb{
    color: var(--greenb);
    /* background-color: var(--greenb); */
}

.bg-greenb{
    background-color: var(--greenb);
}